body {
    font-family: 'Source Code Pro', monospace;
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
}

main {
    display: flex;
    flex-direction: column;
    flex-basis: 750px;
    margin: 15px;

}

li {
    text-align: justify;
}

h3+ul>li {
    font-weight: 600;
}

li a {
    color: inherit;
    text-decoration: none;
}