body {
    font-family: 'Source Code Pro', monospace;
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
}

main {
    display: flex;
    flex-direction: column;
    flex-basis: 750px;
    margin: 15px;

}

li {
    text-align: justify;
}

h3+ul>li {
    font-weight: 700;
    padding-bottom: 10px;
}

h3+ul>li+ul>li {
    padding-bottom: 10px;
}

li a {
    color: inherit;
    text-decoration: none;
}

li>span,
li>a>span {
    font-weight: 600;
}

li>a {
    display: inline-flex;
    flex-direction: column;
    transition-duration: 0.25s;
    transition-property: transform;
}


li>a:hover {
    transform: scale(1.01);
    font-weight: 500;
}